.bg-birumuda{

background-color:#75ECFF;


}

.bg-birutua{

background-color:#520BE5;


}
 .foto{

     height: 200px;
 }

.text{

color:white;

}

.fotos{

    height: 300px;
}

.merahmuda{

    background-color:#FC56FF;
}
